In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
df[['course_name' ,'duration']][1:2]

        course_name  duration
1  Machine Learning         3

In [6]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In pandas, both loc and iloc are used for accessing data in a DataFrame, but they differ in the way they handle the selection of data:

loc (label-based indexing):

loc is primarily label-based indexing. It is used to access a group of rows and columns by labels or a boolean array.
You specify the names of the rows and columns you want to select, rather than their numerical indices.
The syntax is   df.loc[row_labels , column_labels]

Example :

Access the value in the second row and 'duration' column
value = df.loc[1, 'duration']


iloc (integer-location based indexing):

iloc is primarily integer-location based indexing. It is used to access a group of rows and columns by integer indices.
You specify the numerical indices of the rows and columns you want to select.
The syntax is df.iloc[row_indices, column_indices].



Example:

Access the value in the second row and second column
value = df.iloc[1, 1]

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [7]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.257346  0.238068  0.985015  0.699276  0.442053  0.929151
2  0.057853  0.190522  0.897961  0.855150  0.074327  0.646055
3  0.599545  0.035665  0.033884  0.219261  0.468704  0.851075
4  0.727561  0.480386  0.983629  0.698901  0.673275  0.066093
5  0.451036  0.019355  0.299960  0.504581  0.566371  0.086411
6  0.516005  0.334549  0.877516  0.504431  0.159412  0.228336

In [9]:
reindex_order = [3, 0, 1, 2]
new_df = df1.reindex(reindex_order)

# Accessing values using .loc and .iloc
loc_result = new_df.loc[2]
iloc_result = new_df.iloc[2]

In [10]:
loc_result

column_1    0.057853
column_2    0.190522
column_3    0.897961
column_4    0.855150
column_5    0.074327
column_6    0.646055
Name: 2, dtype: float64

In [11]:
iloc_result

column_1    0.257346
column_2    0.238068
column_3    0.985015
column_4    0.699276
column_5    0.442053
column_6    0.929151
Name: 1, dtype: float64

In [12]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.599545  0.035665  0.033884  0.219261  0.468704  0.851075
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.257346  0.238068  0.985015  0.699276  0.442053  0.929151
2  0.057853  0.190522  0.897961  0.855150  0.074327  0.646055

new_df.loc[2]: This will return the row with the label/index '2' in the DataFrame. Since the DataFrame has been reindexed using [3, 0, 1, 2], it will return the row with the label '1' in the original DataFrame (df1). So, this is equivalent to df1.loc[1].

new_df.iloc[2]: This will return the third row in the reindexed DataFrame. In the new index order, the third row corresponds to the original row with index '3'. So, this is equivalent to df1.iloc[3].

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.257346  0.238068  0.985015  0.699276  0.442053  0.929151
2  0.057853  0.190522  0.897961  0.855150  0.074327  0.646055
3  0.599545  0.035665  0.033884  0.219261  0.468704  0.851075
4  0.727561  0.480386  0.983629  0.698901  0.673275  0.066093
5  0.451036  0.019355  0.299960  0.504581  0.566371  0.086411
6  0.516005  0.334549  0.877516  0.504431  0.159412  0.228336

In [14]:
df1.mean()

column_1    0.434891
column_2    0.216424
column_3    0.679661
column_4    0.580267
column_5    0.397357
column_6    0.467854
dtype: float64

In [15]:
df1['column_2'].std()

0.17679305669169768

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [16]:
df1.loc[2, 'column_2'] = "Rishabh"

In [17]:
df1['column_2']

1    0.238068
2     Rishabh
3    0.035665
4    0.480386
5    0.019355
6    0.334549
Name: column_2, dtype: object

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?


In pandas, a window function is a way to perform operations on a set of data points within a specified window or range. These functions are typically used in conjunction with the rolling() or expanding() methods, which create a view over a specified window of data. Window functions are commonly used in time series analysis, but they can be applied to any ordered dataset.

Here are some common types of window functions in pandas:

Rolling Functions:
rolling().mean(): Calculates the rolling mean over a specified window.
rolling().sum(): Calculates the rolling sum over a specified window.
rolling().min(): Computes the rolling minimum over a specified window.
rolling().max(): Computes the rolling maximum over a specified window.


import pandas as pd

    Creating a sample DataFrame
data = {'value': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

    Calculating the rolling mean over a window of size 2
rolling_mean = df['value'].rolling(window=2).mean()
print(rolling_mean)



Expanding Functions:
expanding().mean(): Calculates the expanding mean over all preceding values.
expanding().sum(): Calculates the expanding sum over all preceding values.
expanding().min(): Computes the expanding minimum over all preceding values.
expanding().max(): Computes the expanding maximum over all preceding values.

import pandas as pd

    Creating a sample DataFrame
data = {'value': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

    Calculating the expanding mean
expanding_mean = df['value'].expanding().mean()
print(expanding_mean)

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [18]:
df7 = pd.to_datetime('today')

In [19]:
df7

Timestamp('2024-01-18 11:32:18.849472')

In [20]:
df7.month

1

In [21]:
df7.year

2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [22]:
import datetime as dt

In [23]:
d1 = input("Enter the date in YYYY-MM-DD  : ")
d2 = input("Enter the date in YYYY-MM-DD  : ")

dt1 = pd.to_datetime(d1)
dt2 = pd.to_datetime(d2)

Enter the date in YYYY-MM-DD  :  2023-04-4
Enter the date in YYYY-MM-DD  :  2024-04-5

In [24]:
dt3= dt2-dt1

In [25]:
dt3.days

367

In [26]:
dt3.seconds

0

In [27]:
minutes = dt3.seconds/60

In [28]:
minutes

0.0

In [29]:
import pandas as pd

def calculate_time_difference(date1, date2):
    # Convert input strings to datetime objects
    dt1 = pd.to_datetime(date1)
    dt2 = pd.to_datetime(date2)

    # Calculate the time difference
    time_diff = dt2 - dt1

    # Extract days, hours, and minutes from the timedelta
    days = time_diff.days
    hours, remainder = divmod(time_diff.seconds, 3600)
    minutes, _ = divmod(remainder, 60)

    return days, hours, minutes

# Get user input for dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the time difference
days, hours, minutes = calculate_time_difference(date1, date2)

# Display the result
print(f"\nTime difference between {date1} and {date2}:")
print(f"Days: {days} days")
print(f"Hours: {hours} hours")
print(f"Minutes: {minutes} minutes")

Enter the first date (YYYY-MM-DD):  2023-04-3
Enter the second date (YYYY-MM-DD):  2024-04-5

Time difference between 2023-04-3 and 2024-04-5:
Days: 368 days
Hours: 0 hours
Minutes: 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [30]:
df9 = pd.read_csv("taxonomy.csv")

In [31]:
pd.Categorical(list(df9['parent_name']))

[NaN, 'Emergency', 'Emergency', 'Emergency Cash', 'Emergency Cash', ..., 'Advocacy & Legal Aid', 'Legal', 'Legal', 'Legal', 'Legal']
Length: 290
Categories (50, object): ['Addiction & Recovery', 'Adoption & Foster Care', 'Advocacy & Legal Aid', 'Baby Supplies', ..., 'Support Network', 'Transit', 'Transportation', 'Work']

In [32]:
t = pd.Categorical(list(df9['parent_name']))

In [33]:
def categorical_data(file_path , column_name ,categorey_order):
    
    df = pd.read_csv(file_path)
    
     # Convert the specified column to categorical with the given order
    df[column_name] = pd.Categorical(df[column_name] , categories = categorey_order , ordered = True)
    
    
     # Sort the DataFrame based on the categorical column
    df.sort_values(by=[column_name], inplace=True)
    
    print(df)

In [34]:
if __name__ == "__main__":
    # Prompt user for file path, column name, and category order
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order_str = input("Enter the category order (comma-separated): ")

    # Convert category order string to a list
    category_order = [category.strip() for category in category_order_str.split(',')]

    # Call the function to convert and display the sorted data
    categorical_data(file_path, column_name, category_order)

Enter the CSV file path:  taxonomy.csv
Enter the column name to convert to categorical:  parent_name
Enter the category order (comma-separated):  2

    taxonomy_id                          name parent_id parent_name
0           101                     Emergency       NaN         NaN
1        101-01             Disaster Response       101         NaN
2        101-02                Emergency Cash       101         NaN
3     101-02-01             Help Pay for Food    101-02         NaN
4     101-02-02       Help Pay for Healthcare    101-02         NaN
..          ...                           ...       ...         ...
285   111-01-07              Workplace Rights    111-01         NaN
286      111-02                     Mediation       111         NaN
287      111-03                        Notary       111         NaN
288      111-04                Representation       111         NaN
289      111-05  Translation & Interpretation       111         NaN

[290 rows x 4 columns]

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [37]:
def product(file_name):
    df = pd.read_csv(file_name)
    return df.plot.pie(subplots=True)

In [47]:
file_name = input("Enter the file name : ")
print(product(file_name))

Enter the file name :  Student_data.xlsx

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte

In [45]:
df10 = pd.read_excel("Student_data.xlsx")

In [46]:
df10

   Student  ID  Test Score
0            1          85
1            2          90
2            3          80
3            4          75
4            5          85
5            6          82
6            7          78
7            8          85
8            9          90
9           10          85

In [55]:
import pandas as pd

def Student_Record(file_name):
    df = pd.read_csv(file_name)

    mean_Score = df['Test Score'].mean()
    median_Score = df['Test Score'].median()
    mode_Score = df['Test Score'].mode().values  # Extract values from the mode Series
    
    data1 = {'Statistic': ['Mean', 'Median', 'Mode'],
             'Value': [mean_Score, median_Score, mode_Score[0]]  # Take the first mode value
             }
    print(pd.DataFrame(data1))

Student_file = input("Enter the Student Record: ")
Student_Record(Student_file)

Enter the Student Record:  Student_data.csv

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 15-16: invalid continuation byte